name: Beginner GitHub Action
 
on:
  push:
 
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
 
      - name: List files
        run: ls
