name: Beginner GitHub Action
 
on:
  push:
 
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print message
        run: echo "GitHub Actions is working"
 
      - name: Show current directory
        run: pwd
 
      - name: List files
        run: ls -la
